<launch>
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find lyra_gz)/world/beerworld.world"/>
	</include>
	
	<!--Spawn the hand-on-wheels-->
	<!--TODO Change this to our custom model-->
	<param
		name="robot_description"
		command="
			$(find xacro)/xacro
			'$(find lyra_gz)/models/quadcopter/quadrotor.gazebo.xacro'
			--inorder
		"
	/>
	<node
		name="spawn_model" pkg="gazebo_ros"
		type="spawn_model" output="screen"
		args="-param robot_description -urdf -model changeling"
	/>
	
	<node pkg="open_loop_control" name="control" type="control.py" output="screen"/>
</launch>
