<?xml version="1.0"?>

<model>
  <name>Hand on Wheels</name>
  <version>1.0.2</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <author>
    <name>Mathew Johannes</name>
  </author>
  
  <author>
    <name>Thomas Shkurti</name>
    <email>tes77@case.edu</email>
  </author>

  <description>
    I found somebody else's robot hand, so I put it on a box with wheels. Now it's a wheelie hand.
  </description>
</model>
